.comment-dialog 
{
    display:none;
    overflow-x:hidden;
    text-align:right;
}

.comment-text-area 
{
    display:inline-block;
    width:98%;
    height:100px;
}

.comment-list
{
    margin: 8px;
}

.comment-list-item 
{
    width:98%;
    background-color: #FFFFFF;
    border: 1px solid #a6c9e2;
    padding: 12px;
    margin-bottom: 2px;
    min-height:40px;
    color: #333;
    font-size: 10pt;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    text-align:center;
}

    .comment-list-item .comment-list-item-text
    {
        width: 67%;
        vertical-align: top;
        display: inline-block;
        text-align: left;
        clear:both;
    }
    
    .comment-list-item .comment-list-item-controls
    {
        width:30%;
        white-space:nowrap;
        vertical-align:top;
        display:inline-block;
        text-align:right;
    }
    .comment-list-item .comment-list-item-controls div:first-of-type
    {
        margin-top:10px;
        text-align:right;
    }

.comment-char-count
{
    display:inline-block;
    margin-right: 20px;
    text-align:right;
}