
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/react/JSXTransformer-0.13.1.js"></script>
    <script src="~/Scripts/react/react-0.13.1.js"></script>
    
    <link href="~/Content/Comments.css" rel="stylesheet" />
</head>
<body>
    <div id="viewport"> 
    </div>

    <script type="text/jsx" src="~/Scripts/components/Panel.jsx"></script>
    <script type="text/jsx" src="~/Scripts/components/Comments.jsx"></script>
    <script type="text/jsx">

        React.render(
            <DisplayPanel display="Comments">
                <Comments MaxCommentSize="400"/>
            </DisplayPanel>,
            document.getElementById('viewport')
        );
    </script>
</body>
</html>
