
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/react/JSXTransformer-0.13.1.js"></script>
    <script src="~/Scripts/react/react-0.13.1.js"></script>
    
    <link href="~/Content/Comments.css" rel="stylesheet" />


</head>
<body>
    <div id="viewport"> 
    </div>
    @*<div>
        <div class="ui-widget-content">
            <div class="ui-widget-header">
                Comments
            </div>
            <div class="ui-widget-content">
                    
                <div class="comment-entry">
                    <textarea maxlength="400" class="comment-text-area"></textarea>
                    <div class="comment-char-count">400 remaining</div>
                    <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                        <span class="ui-button-text">Add Comment</span>
                    </button>
                </div>

                <div class="comment-list">
                    <div class="comment-list-item">
                        <div class="comment-list-item-text">asdads</div>
                        <div class="comment-list-item-controls">
                            <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                                <span class="ui-button-text">Delete</span>
                            </button>
                            <div>Villaronga, Michael</div>
                            <div>6/28/2015</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <script type="text/jsx" src="~/Scripts/components/Panel.jsx"></script>
    <script type="text/jsx" src="~/Scripts/components/Comments.jsx"></script>
    <script type="text/jsx">

        React.render(
            <DisplayPanel display="Comments">
                <Comments />
            </DisplayPanel>,
            document.getElementById('viewport')
        );
    </script>
</body>
</html>
